/* ==========================================================
   Login Page - Niagara One
   ========================================================== */

body {
    background-color: #f8f9f6;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
}

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.left-column {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form-wrapper {
    margin: auto 0;
    width: 100%;
    max-width: 520px;
}

.brand-title {
    font-weight: 600;
    color: #222a13;
    margin-bottom: 0.5rem;
}

.brand-title span {
    color: #98b06f;
    /* Hijau muda dari referensi desain */
}

.subtitle {
    color: #222a13;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.form-control {
    border-radius: 8px;
    padding: 0.5rem 0.90rem;
    border-color: #ced4da;
}

.form-control:focus {
    border-color: #9cb071;
    box-shadow: 0 0 0 0.25rem rgba(156, 176, 113, 0.25);
}

.form-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: #495057;
    margin-bottom: 0.3rem;
}

.btn-primary {
    background-color: #7b9449;
    /* Hijau olive tua */
    border-color: #7b9449;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-weight: 500;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #657a3c;
    border-color: #657a3c;
}

.forgot-link {
    color: #7b9449;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.forgot-link:hover {
    text-decoration: underline;
}

.right-column {
    flex: 1;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB9bE6N9wS2Km237c_nF_UUYvxfh03uF_qiQDBQPpkO7q9QyMOREbhG10A9T_VBMXQwc3hZhNNazGSTMVK4GURNZkX0eTgoAiBAiug4cOCotK_lXeWNOVNbfXOI39UFGuuaIeAyDh15sWEQieoXYlbyGjWcoPY4D7aPO2fRbEsdzAElBZlJGAmrDKj6QSA_zbcC3KvzjrHfRjfEO3-aG9o34i7alAy6GlY2hco3WU33esp6WfzmDVwJzY9alVT7r9I22f8");
    background-size: cover;
    background-position: center;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 0.75rem;
    color: #6c757d;
    border-top: 1px solid #f0f0f0;
    box-sizing: border-box;
}

/* Custom Checkbox */
.form-check-input:checked {
    background-color: #7b9449;
    border-color: #7b9449;
}

.form-check-label {
    font-size: 0.9rem;
    color: #495057;
}

.password-toggle-icon {
    cursor: pointer;
    color: #6c757d;
}

.password-toggle-icon:hover {
    color: #333;
}
